:root {
    --cell-border: 2px solid rgb(93, 162, 223);
    --gridcolor: rgba(189, 229, 255, 0.912);
    --border: 3px solid rgba(128, 128, 128, 0.679);

    /* hmm de akk hogyan legyen a füzetnek szelee */
}

@font-face {
    font-family: 'mynerve';
    src: url('font/Mynerve-Regular.woff2') format('woff2'),
        url('font/Mynerve-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


body {
    background-color: rgb(165, 157, 137);
    margin: 0;
    padding: 30px 0 30px 20px;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}

body,
html {
    /*  width: 100vw;
    height: 100vh;
    background-color: whitesmoke; */
    font-family: 'mynerve', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

body {
    /* display: flex;
    justify-content: center; */
}

.container {
    padding: 55px 60px 20px 135px;
    position: relative;
    border-radius: 10px 0px 0 10px;
    box-sizing: border-box;
    width: min(850px, 100%);
    /* mit csinálunk a lap jobb oldalával? idk
-lehet asztal szele, labbal
-lehetnek könyvek füzetek rapakolva
lehet akar csak  afüzet masik oldala i guess */
    height: 100%;
    background-position: 124px, -30px -30px, -33px -33px;
    background-size: 40px 40px;
    background-image:
        linear-gradient(to right, transparent 0 4px, var(--gridcolor) 5px 7px, transparent 7px),
        linear-gradient(to right, var(--gridcolor) 1px, transparent 1px),
        linear-gradient(to bottom, var(--gridcolor) 1px, whitesmoke 1px);

    background-repeat: repeat-y, repeat, repeat;


}

.container::after {
    content: "";
    width: 150px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    box-sizing: border-box;
    background-image: linear-gradient(to left, transparent, rgba(128, 128, 128, 0.444), rgba(128, 128, 128, 0.261) 30% 40%, transparent);
}

h1,
p,
h2 {
    color: rgb(59, 76, 99);
    margin: 0;
}

.title {
    margin-bottom: 10px;
    letter-spacing: 2px;
    /* text-shadow: -1px -1px rgb(196, 196, 196); */
    background-color: rgb(48, 85, 136);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: -2px -1px 3px rgba(245, 245, 245, 0.436);
    line-height: 40px;
}

span {}

em {
    text-shadow:
        -2px -1px 3px rgba(245, 245, 245, 0.436);

    /* border-bottom: solid 3px rgb(59, 76, 99); */
    /* text-decoration:underline; */

}

.board {
    display: grid;
    grid-template-columns: 80px 80px 85px;
    grid-template-rows: 80px 80px 82px;
    width: max-content;
    height: max-content;
}

.cell {
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 120%;
    background: none;
    border: none;
}

.cell:nth-child(-2n+4) {
    position: relative;
}

.cell:nth-child(-2n+4)::after,
.cell:nth-child(-2n+4)::before {
    content: "";
    position: absolute;
    /* */

    border: 1px solid rgba(128, 128, 128, 0.659);
}

.cell:nth-child(2)::before,
.cell:nth-child(2)::after {
    border-radius: 5px 5px 0 0;
    top: -2px;
    width: 1px;

}

.cell:nth-child(2)::before {
    left: -3px;
}

.cell:nth-child(2)::after {
    right: -3px;
}

.cell:nth-child(4)::before,
.cell:nth-child(4)::after {
    border-radius: 5px 0 0 5px;
    left: -2px;
    height: 1px;
}

.cell:nth-child(4)::before {
    top: -3px;
}

.cell:nth-child(4)::after {
    bottom: -3px;
}


.cell:nth-child(2) {
    /* border: var(--border);
            border-color: transparent rgb(14, 29, 82); */
    border-left: var(--border);
    border-right: var(--border);
}

.cell:nth-child(4) {
    border-top: var(--border);
    border-bottom: var(--border);
}

.cell:nth-child(6) {
    /* border: var(--border); */
    /* border-image:
                linear-gradient(to right,
                    gray 40px,
                    rgba(0, 0, 0, 0)) 100 10;
                radial-gradient(ellipse 100% 3px at 0 1px, gray 0% 50%, hsla(0, 0%, 0%, 0) 100%) 3;
border-left:0; */
    /* <svg viewBox="0 0 6 6" xmlns="http://www.w3.org/2000/svg"><line x1="1" y1="5" x2="5" y2="5" stroke="black" stroke-linecap="square" /></svg> */
    background: radial-gradient(110% 2px at 0% 1px, rgba(128, 128, 128, 0.679) 70%, transparent 100%), radial-gradient(115% 2px at 0% calc(100% - 1px), rgba(128, 128, 128, 0.679) 80%, transparent 100%);
    background-blend-mode: multiply;
    ;
}

.cell:nth-child(8) {
    /* border: var(--border);
            border-image:
                linear-gradient(to bottom,
                    gray 40px,
                    rgba(0, 0, 0, 0)) 10 100; */
    background: radial-gradient(2px 120% at 1px 0, rgba(128, 128, 128, 0.679) 80%, transparent 100%), radial-gradient(2px 105% at calc(100% - 1px) 0, rgba(128, 128, 128, 0.679) 85%, transparent 100%);
    background-blend-mode: multiply;
}

.cell:nth-child(5) {
    border: var(--border);
}


.cell.X {
    color: red;
}

.cell.O {
    color: blue;
}

/* .cell[data-row="1"][data-column="1"] {
    border: var(--cell-border);
}

.cell[data-row="0"][data-column="1"],
.cell[data-row="2"][data-column="1"] {
    border-left: var(--cell-border);
    border-right: var(--cell-border);
}

.cell[data-row="1"][data-column="0"],
.cell[data-row="1"][data-column="2"] {
    border-top: var(--cell-border);
    border-bottom: var(--cell-border);
} */

.winner {
    font-size: 150%;
    font-weight: bold;
}

/* Open state of the dialog  */
dialog:open {
    opacity: 1;
}

/* Closed state of the dialog   */
dialog {
    opacity: 0;
    transition: all 0.5s allow-discrete;
    /* Equivalent to
  transition: all 0.7s allow-discrete; */
}

/* Before open state  */
/* Needs to be after the previous dialog:open rule to take effect,
    as the specificity is the same */
@starting-style {
    dialog:open {
        opacity: 0;
    }
}

/* Transition the :backdrop when the dialog modal is promoted to the top layer */
dialog::backdrop {
    background-color: transparent;
    transition: all 0.5s allow-discrete;
}

dialog:open::backdrop {
    background-color: rgb(0 0 0 / 25%);
}

/* This starting-style rule cannot be nested inside the above selector
because the nesting selector cannot represent pseudo-elements. */

@starting-style {
    dialog:open::backdrop {
        background-color: transparent;
    }
}

/* 
xmen theme
VAGY KOCKASFÜZET THEME OOOHHHH
logger position fix
layout
dialogs layout and colors
 */