body,
html,
.container {
    width: 100vw;
    height: 100vh;
    background-color: rgb(191, 191, 193);
}

h1 {
    color: red;
}

.board {
    width: fit-content;
    border: 2px solid white;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 50px);
    grid-template-rows: repeat(3, 50px);
    gap: 2px;
}

.cell {
    border: none;
    outline: 2px solid blue;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}